@model LoginWebApp.ViewModels.EventItemModel
<h3>Список событий</h3>

@if (Model.ListEvents != null)
{
    @foreach (LoginWebApp.ViewModels.EventItem eventItem in Model.ListEvents)
    {
        <form class="update-item-form" asp-controller="Account" asp-action="UpdateEvent" asp-route-id="@eventItem.Id">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <p>Название</p>
            <input name="name" type="text" asp-for="Name" class="item__description" value="@eventItem.Name" />
            <span asp-validation-for="Name" />
            <p>Начало</p>
            <input name="dateStart" type="datetime" asp-for="Start" class="item__description" value="@eventItem.Start" />
            <span asp-validation-for="Start" />
            <p>Конец</p>
            <input name="dateEnd" type="datetime" asp-for="End" class="item__description" value="@eventItem.End" />
            <span asp-validation-for="End" />
            <input type="submit" id="@eventItem.Id" value="Изменить" />
        </form>
        <div class="item__check">
            <button class="item__check-btn" attr="@eventItem.Id">Статус :@if (!eventItem.Status)
            {<div>Закончено</div>}
            else
            {<divp>Активно</divp>}</button>
        </div>
        <div>
            <button class="item__delete-btn" id="@eventItem.Id + -delete-button" attr="@eventItem.Id">
                <img src="https://icons.iconarchive.com/icons/wwalczyszyn/android-style/16/Trash-empty-icon.png" />
            </button>
        </div>
    }
}


<div>
    <form class="add-new-item-form" asp-controller="Account" asp-action="AddEvent">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="add-item">
            <p>Название события</p>
            <input name="Name" type="text" asp-for="Name" class="add-item__description" />
            <span asp-validation-for="Name" />
            <p>Начало события</p>
            <input name="start" asp-for="Start" type="datetime">
            <span asp-validation-for="Start" />
            <p>Конец события</p>
            <input name="end" asp-for="End" type="datetime">
            <span asp-validation-for="End" />
        </div>
        <input type="submit" id="item_submit" value="добавить событие" />
    </form>
    <div id="item_add">
        <p>+</p>
    </div>
</div>




